# --- BACKEND PHP ---
backend/vendor/
backend/public/css/*.map
backend/public/css/*.scss
backend/.phpunit.result.cache

# --- FRONTEND ---
frontend/node_modules/
frontend/dist/
frontend/.vite/

# --- ENV ---
*.env
.env.local
.env.*.local

# --- SYSTEM ---
.DS_Store
Thumbs.db
